In [28]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np
from bs4 import BeautifulSoup as bs
import requests

In [16]:
df = pd.read_csv('vgsales.csv')

In [17]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [21]:
df.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [18]:
df.isnull()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
16593,False,False,False,False,False,False,False,False,False,False,False
16594,False,False,False,False,False,False,False,False,False,False,False
16595,False,False,False,False,False,False,False,False,False,False,False
16596,False,False,False,False,False,False,False,False,False,False,False
16597,False,False,False,False,False,False,False,False,False,False,False

In [19]:
null_dict = {}
for col in df.columns:
    null_dict[col]=df[col].isnull().sum()

print(null_dict)

{'Rank': 0, 'Name': 0, 'Platform': 0, 'Year': 271, 'Genre': 0, 'Publisher': 58, 'NA_Sales': 0, 'EU_Sales': 0, 'JP_Sales': 0, 'Other_Sales': 0, 'Global_Sales': 0}

In [20]:
null_rows = df.loc[df.isna().any(axis=1)]
null_rows

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

In [23]:
missing_years = df[df['Year'].isnull()]

In [24]:
missing_years_names = missing_years['Name'].tolist()

In [25]:
missing_years_names

['Madden NFL 2004',
 'FIFA Soccer 2004',
 'LEGO Batman: The Videogame',
 'wwe Smackdown vs. Raw 2006',
 'Space Invaders',
 'Rock Band',
 "Frogger's Adventures: Temple of the Frog",
 'LEGO Indiana Jones: The Original Adventures',
 'Call of Duty 3',
 'Rock Band',
 'Call of Duty: Black Ops',
 'Rock Band',
 'Triple Play 99',
 'LEGO Harry Potter: Years 5-7',
 'LEGO Batman: The Videogame',
 'Adventure',
 'Combat',
 'NASCAR Thunder 2003',
 'Hitman 2: Silent Assassin',
 'Rock Band',
 'Legacy of Kain: Soul Reaver',
 'Donkey Kong Land III',
 'LEGO Harry Potter: Years 5-7',
 'Air-Sea Battle',
 'Suikoden III',
 'Yakuza 4',
 'LEGO Harry Potter: Years 5-7',
 'Wheel of Fortune',
 'Namco Museum',
 'Rhythm Heaven',
 'The Lord of the Rings: War in the North',
 'The Lord of the Rings: War in the North',
 'Madden NFL 07',
 'MLB SlugFest 20-03',
 'Shaun White Snowboarding',
 'PES 2009: Pro Evolution Soccer',
 'Madden NFL 11',
 'WarioWare: Twisted!',
 'LEGO Harry Potter: Years 5-7',
 'Test Drive Unlimited 2',
 'The Chronicles of Narnia: The Lion, The Witch and The Wardrobe',
 'Test Drive Unlimited 2',
 'Monster Hunter 2',
 'Advance Wars: Days of Ruin',
 'Metal Gear Solid 2: Substance',
 'The Golden Compass',
 'Madden NFL 06',
 'NASCAR: Dirt to Daytona',
 'Madden NFL 2002',
 'Def Jam: Fight for NY',
 'NBA Street Vol. 2',
 'Fishing Derby',
 'Wet',
 'Sonic the Hedgehog',
 'Karate',
 'Tiger Woods PGA Tour 07',
 'Circus Atari',
 'The Chronicles of Riddick: Escape from Butcher Bay',
 "Maze Craze: A Game of Cops 'n Robbers",
 'Silent Hill: Homecoming',
 'Super Breakout',
 "Robert Ludlum's The Bourne Conspiracy",
 'NHL Slapshot',
 'TERA',
 'LEGO Harry Potter: Years 5-7',
 'NFL GameDay 2003',
 'Silent Hill: Homecoming',
 'Harvest Moon: Save the Homeland',
 "Robert Ludlum's The Bourne Conspiracy",
 'Hangman',
 'The Golden Compass',
 'NBA Live 2003',
 'Bejeweled 3',
 "Cubix Robots for Everyone: Clash 'n' Bash",
 'Tropico 4',
 'Tomb Raider (2013)',
 'Dragon Ball Z: Budokai Tenkaichi 2 (JP sales)',
 'Custom Robo',
 'Final Fantasy XI',
 'Singularity',
 'Dragster',
 'All-Star Baseball 2005',
 'Star Wars Jedi Knight II: Jedi Outcast',
 'Slot Machine',
 'Shrek the Third',
 'The Dukes of Hazzard II: Daisy Dukes It Out',
 'Disgaea 3: Absence of Detention',
 'NBA Live 2003',
 'Harvest Moon: The Tale of Two Towns',
 'Nicktoons: Battle for Volcano Island',
 'Haven: Call of the King',
 'Unreal Championship 2: The Liandri Conflict',
 'The Chronicles of Narnia: The Lion, The Witch and The Wardrobe',
 'Pac-Man Fever',
 'The Legend of Zelda: The Minish Cap(weekly JP sales)',
 'Indy 500',
 'Gun',
 'Flag Capture',
 'LEGO Harry Potter: Years 5-7',
 'Rock Revolution',
 'Jonah Lomu Rugby Challenge',
 'College Hoops 2K6',
 'Mega Man X Collection',
 'BioShock 2',
 'Singularity',
 'Danganronpa: Trigger Happy Havoc',
 'DanceDanceRevolution II',
 "Tony Hawk's Downhill Jam",
 'Big Beach Sports 2',
 'Jet X20',
 'Tribes: Aerial Assault',
 'Move Fitness',
 'LEGO Harry Potter: Years 5-7',
 'Yu Yu Hakusho: Dark Tournament',
 'Ghostbusters II',
 'Breakaway IV',
 'Robotech: Battlecry',
 'Valkyria Chronicles III: Unrecorded Chronicles',
 'WRC: FIA World Rally Championship',
 'Famista 64',
 'Dead Space 3',
 'Test Drive Unlimited 2',
 'Pet Zombies',
 'Star Trek: Legacy',
 'Trauma Team',
 'Backbreaker',
 'Twisted Metal: Small Brawl',
 'Otomedius Excellent',
 'NBA Starting Five',
 'Teen Titans',
 'Backbreaker',
 "James Cameron's Dark Angel",
 'Sword of the Samurai',
 'Splatterhouse',
 'Alone in the Dark: The New Nightmare',
 'Vegas Party',
 'Jurassic Park: The Game',
 'Home Run',
 'eJay Clubworld',
 'All-Star Baseball 2005',
 'Our House Party!',
 'WCW Backstage Assault',
 'Bejeweled 3',
 'Bejeweled 3',
 "Disney's Cinderella: Magical Dreams",
 'Transworld Surf',
 'Street Fighter IV',
 'Nintendo Puzzle Collection',
 'Charm Girls Club: My Fashion Mall',
 'WRC: FIA World Rally Championship',
 'Record of Agarest War Zero',
 'Super Robot Wars OG Saga: Masou Kishin II - Revelation of Evil God',
 'Saru! Get You! Million Monkeys',
 'Street Hoops',
 'Godzilla: Destroy All Monsters Melee',
 'The Daring Game for Girls',
 'Rocksmith',
 'Major League Baseball 2K6',
 'Happy Feet Two',
 'Star Trek: Conquest',
 'GiFTPiA',
 "Disney's Chicken Little: Ace In Action",
 'Happy Feet Two',
 'Atsumare! Power Pro Kun no DS Koushien',
 'My Healthy Cooking Coach',
 'Happy Feet Two',
 'Luminous Arc 2 (JP sales)',
 'The Daring Game for Girls',
 'Egg Monster Hero',
 'Samurai Shodown Anthology',
 'Demon Chaos',
 'Action Man-Operation Extreme',
 'Super Puzzle Fighter II',
 'Happy Feet Two',
 'Charm Girls Club: My Fashion Show',
 'Get Fit with Mel B',
 'Face Racers: Photo Finish',
 'Zero: Tsukihami no Kamen',
 'The Hidden',
 'Rock Revolution',
 'Dead Island: Riptide',
 'Mega Man Battle Network: Operation Shooting Star',
 'Smashing Drive',
 'Dream Trigger 3D',
 'Tornado',
 "McFarlane's Evil Prophecy",
 'Drake of the 99 Dragons',
 'Port Royale 3',
 'Build-A-Bear Workshop: Friendship Valley',
 'Alex Rider: Stormbreaker',
 'Yoostar on MTV',
 'Rayman Arena',
 'National Geographic Challenge!',
 'Port Royale 3',
 'Jewel Link Chronicles: Mountains of Madness',
 'Chou Soujuu Mecha MG',
 'Prinny: Can I Really Be The Hero? (US sales)',
 'Combat Elite: WWII Paratroopers',
 'Captain America: Super Soldier',
 "Flip's Twisted World",
 'Mobile Ops: The One Year War',
 "Tom Clancy's Rainbow Six: Critical Hour",
 'GRID',
 'Captain America: Super Soldier',
 'Reader Rabbit 2nd Grade',
 'Mountain Bike Adrenaline',
 'Tour de France 2011',
 'Drill Dozer',
 'Battle vs. Chess',
 'The History Channel: Great Battles - Medieval',
 'Monster Hunter Frontier Online',
 'RollerCoaster Tycoon',
 'GRID',
 'B.L.U.E.: Legend of Water',
 "Luxor: Pharaoh's Challenge",
 'NHL Hitz Pro',
 'Sega Rally 2006',
 'World of Tanks',
 'Swords',
 'Half-Minute Hero 2',
 'Clockwork Empires',
 'Housekeeping',
 'Major League Baseball 2K8',
 'Sabre Wulf',
 'Beyond the Labyrinth',
 'Bikkuriman Daijiten',
 'Majesty 2: The Fantasy Kingdom Sim',
 'Fullmetal Alchemist: Brotherhood',
 'Combat Elite: WWII Paratroopers',
 'Samurai Spirits: Tenkaichi Kenkakuden',
 'Battle vs. Chess',
 'Tom and Jerry in War of the Whiskers',
 'Super Duper Sumos',
 'Legacy of Ys: Books I & II',
 'The King of Fighters: Maximum Impact - Maniax',
 'Combat Wings: The Great Battles of WWII',
 'Tube Slider',
 'Umineko no Naku Koro ni San: Shinjitsu to Gensou no Yasoukyoku',
 'Wii de Asobu: Metroid Prime',
 'Payout Poker & Casino',
 'Wii de Asobu: Metroid Prime',
 'Saint',
 'Steal Princess',
 'Mario Tennis',
 'Runaway: A Twist of Fate',
 "Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)",
 "Cabela's Alaskan Adventure",
 'Writing and Speaking Beautiful Japanese DS',
 'Virtua Quest',
 "Shonen Jump's Yu-Gi-Oh! GX Card Almanac",
 'Without Warning',
 'Football Manager 2007',
 'Ferrari: The Race Experience',
 'PDC World Championship Darts 2008',
 'Dinotopia: The Sunstone Odyssey',
 "Dance! It's Your Stage",
 'Jet Impulse',
 'Dream Dancer',
 'PDC World Championship Darts 2008',
 'WRC: FIA World Rally Championship',
 'Aquaman: Battle for Atlantis',
 'Homeworld Remastered Collection',
 'Shorts',
 'AKB1/48: Idol to Guam de Koishitara...',
 'Brothers in Arms: Furious 4',
 'Agarest Senki: Re-appearance',
 'Freaky Flyers',
 'Inversion',
 'Hakuouki: Shinsengumi Kitan',
 'Virtua Quest',
 'The Smurfs']

In [26]:
year_lookups = {}

In [29]:
for name in missing_years_names:

    url = "https://www.giantbomb.com/search/?q=" + name
    result = requests.get(url)
    soup = bs(result.text, 'html.parser')

    year = soup.find('div', class_='result_release_date').getText()

    year_lookups[name] = year

AttributeError: 'NoneType' object has no attribute 'getText'